$heading-font: 'Roboto Mono', serif;
$serif-font: 'Lora', serif;
$sans-font: 'Source Sans Pro', sans-serif;


$dark-teal: rgb(58, 89, 83);
$light-teal: rgb(110,163,147);
$light-tan: rgb(241,239, 216);
$dark-tan: rgb(217, 216, 188);
$brown: rgb(193, 143, 95);
$gray: rgba(69, 59, 56, 1);
$orange: rgba(162, 78, 4, 1);

$bg-img: "../img/bg-photo.jpg";


